/*===================================================================================================================================*/

.circle-dot {
    width: 5px;
    display: inline-block;
    height: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-inline: 5px;
}

.cbtn-maincontainer {
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;

}

.cbtn-box {
    /* background-image: url(/public/assets/contactbtn1.jpg); */
    background-color: #cac6c6;
    width: 100%;
    height: auto;
    color: #f1f2f6;
    background-repeat: repeat;
    background-position: center center !important;
    background-size: cover;
    background-attachment: fixed;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

}

.cbtn-boxscnd {
    width: 100%;
    background: #212d3a;
    opacity: 0.7;
    position: relative;

}

/* .cbtn-boxscnd div{
    opacity: 0.7;
} */



.cbtn-boxthrd {

    /* padding-inline: 2%;
    padding-block: 2%; */

    position: relative;
    flex-direction: column;
    /* width: 100%; */
    height: auto;
    align-items: center;
    text-align: center;
    /* margin-inline-start: 12%; */
    color: #feffff;

}



.cbtn-headingdiv-scnd {
    /* font-weight: 600;
    font-size: 36px;
    font-family: serif;
    /* text-decoration: underline 2px; */
    color: rgb(254, 255, 255);
    margin-block: 2%;
}

*/ .cbtn-headingdiv-thrd {
    font-weight: 500;
    font-size: 14px;
    font-family: Poppins;
    /* text-decoration: underline 2px; */
    /* color:#ffffff; */
}

.cbtn-buttoncomponent {
    display: flex;
    justify-content: center;
    margin-top: 8%;

}

.cbtn-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212d3a;
    padding-block-start: 0.1%;
    width: 20ch;
    height: 6ch;
    text-align: center;
    background-color: #ffffff;
    opacity: 3px;
    border-radius: 5%;
    cursor: pointer;
    border: solid 4px #030404;
}


.cbtn-btntext {
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16x;
}

.cbtn-buttoncomponent span:hover .cbtn-btn {
    background: black;
    color: whitesmoke;
    border-color: #f1f2f6;
    border-width: 2px;
}

.card-div {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:800px) {
    .card-div {
        display: block;
        justify-content: center;
    }

    
}

/*--------------------------------------------------------------------------------------------*/
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 280px;
    padding: 20px 1px;
    margin: 10px 0;
    text-align: center;
    position: relative;
    /* cursor: pointer; */
    box-shadow: 0 10px 15px -3px rgba(158, 191, 219, 0.4), 0 4px 6px -4px rgba(3, 19, 32, 0.4);
    border-radius: 10px;
    background-color: #5a70df;
    background: linear-gradient(45deg, #04051dea 0%, #215c7b 100%);
}

.content {
    padding: 10px;
}

.price {
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
    padding-block: 10px;
}

.content .description {
    color: rgb(255, 252, 252);
    margin-top: 1px;
    font-size: 16px;
    text-align: left;
}

.content .title {
    font-weight: 800;
    /* text-transform: uppercase; */
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: Nova square;
}

button {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /* border: red; */
    outline: none;
    color: rgb(255 255 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    padding: 0.75rem 1.5rem;
    background-color: rgb(33 150 243);
    border-radius: 0.5rem;
    width: 90%;
    text-shadow: 0px 0px 0px #2c3442;
}

/*-------------------------------------------------------------------------*/

/* subscribe button */
.button {
    cursor: pointer;
    position: relative;
    padding: 5px 5px;
    width: 150px;
    font-size: 16px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 15px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
    scale: 3;
}

.button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.button:active {
    scale: 1;
}